image:
  repository: redis
  tag: 7.4-alpine
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 6379

password: ""

storage:
  enabled: true
  size: 5Gi
  className: ""

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}

